/***************************************
HEADER - VIDEOS PAGE
***************************************/

.development-header {
  background: url("../img/development-header.jpg") no-repeat center;
  background-size: cover;
  height: 575px;
}


/***************************************
MEDIA QUERIES
***************************************/

@media (max-width: 976px) {

  .header-wrapper {
    padding-top: 175px;
  }

}

/***************************************
PALETTE

-2B4E72 - Water Ends
-2790B0 - Water Begins
-94BA65 - Grass Always Regrows
-353432 - Losing Hope
-4E4D4A - Dark Days

***************************************/
