/***************************************
FONT IMPORTS
***************************************/
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700|Open+Sans:300,400,600);
/***************************************
GENERAL
***************************************/

* {
  box-sixing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: .9rem;
  color: #353432;
}

h2 {
  color: #fff;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Enriqueta';
  font-size: 2.3rem;
  font-weight: 400;
  color: #ababab;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}


/***************************************
NAV BAR
***************************************/

.nav {
  background-color: #282828;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  height: 60px;
}

nav {
  height: 100%;
}

.mainnav-right {
  float: right;
  height: 100%;
}

.nav div p {
  text-align: left;
  float: left;
  margin: 0;
  padding: 16px 10px;
  font-family: 'Times New Roman';
  letter-spacing: 3px;
}

.nav a {
  color: #d7d7d7;
  font-size: 1.5rem;
  transition-duration: .3s
}

.nav a:hover {
  color: rgb(255, 255, 255);
}

.nav ul {
  list-style: none;
  padding: 0;
  height: 100%;
  margin: 0;
  float: left;
}

.nav li {
  display: inline-block;
	padding: 0 20px;
  font-size: .8rem;
  font-weight: 400;
  padding: 20px;
  letter-spacing: 1.1px;
}

.nav ul a li {
  color: #d7d7d7;
  transition-duration: .3s;
}

.nav ul a li:hover {
  color: rgb(255, 255, 255);
}

.selected {
  color: rgba(255, 255, 255);
}

.farnav-right {
  float: left;
  height: 100%;
  width: 105px;
  background: #4c4c4c;
  transition-duration: .3s;
}

.farnav-right:hover {
  background: #313131;
}

.contact {
  padding-top: 18px;
}

.nav ul .selected li {
  color: rgb(255, 255, 255);
}

#mobileNav {
  display: none;
}

/***************************************
HEADER
***************************************/

.header-wrapper {
  padding-top: 225px;
}

.headbg-overlay {
  background: rgba(0,0,0,.4);
  height: 100%;
}

.title h1 {
  color: #fff;
  letter-spacing: 6px;
  font-family: 'Times New Roman';
  text-transform: lowercase;
  font-size: 5rem;
  width: 70%;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.title h2 {
  margin: 10px;
  font-weight: 300;
}

.nav-header {
  margin-bottom: 20px;
}

.nav-header li {
  border-color: #4E4D4A;
}

/*the below class will trigger from the mobilenav.js file
when appropriate conditions are met*/
.inactive {
  pointer-events: none;
}

/***************************************
FOOTER
***************************************/

.main-footer {
  padding-top: 10px;
  height: 60px;
  background-color: #fff;
  color: #000000;
  font-size: .9rem;
}

.copyright-footer {
  text-align: left;
  padding-left: 20px;
  float: left;
}

.social-media-footer-container {
  padding-top: 15px;
  padding-left: 15px;
  float: left;
  width: 120px;
}

.social-media-icon a img {
  height: 20px;
  width: 20px;
  padding: 0 5px;
  float: left;
  -webkit-duration: .3s;
	-moz-duration: .3s;
	-o-duration: .3s;
	transition-duration: .3s;
 }

 .social-media-icon a img:hover {
	transform: scale(1.15);
}

.social-media-icon .facebook-footer {
  width: 10px;
}

.main-footer, .push {
  clear: both;
}

/***************************************
CONTACT FORM
***************************************/

.contact-form {
  display: none;
  margin-top: 200px;
}

form {
  border: 5px solid #6fcdaf;
  width: 500px;
  max-width: 90%;
  margin: auto;
  height: 500px;
  z-index: 50;
  background: #fff;
}

form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input,
textarea {
  height: 20px;
  width: 350px;
  text-align: center;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  outline: 0;
}

input:focus {
  background: #fff;
}

textarea {
  height: 100px;

}

.form-wrapper {
  padding-top: 15px;
  width: 200px;
  margin: 0 15%;
}

.form-wrapper div {
  font-weight: 600;
  margin: 20px 0;
}

.button {
  padding-top: 15px;
}

.button button {
  height: 65px;
  width: 225px;
  outline: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #6fcdaf;
  background: rgba(255,255,255,.0);
  border: 5px solid #6fcdaf;
  transition-duration: .3s;
}

.button button:hover {
  background: #6fcdaf;
  color: #fff;
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  z-index: 100;
}

.xButton {
  display: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5%;
  right: 2%;
}

.xButton:hover {
  cursor: pointer;
}

.xButton img {
  height: 20px;
  width: 20px;
}

/***************************************
MEDIA QUERIES
***************************************/

@media (max-width: 715px) {

  /***************************************
  HEADER
  ***************************************/
  .title h1 {
    font-size: 3.7rem;
  }

  .title h2 {
    font-size: 1.5rem;
  }


  /***************************************
  NAV BAR
  ***************************************/
  #fullNav {
    display: none;
  }

  #mobileNav {
    display: block;
  }

  .nav {
    height: 60px;
  }

  .nav .mobileDiv {
    display: block;
  }

  .nav div p {
    text-align: center;
    float: none;
    color: #d7d7d7;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .mainnav-right {
    float: none;
    width: 50%;
    margin: auto;
  }

  .mainnav-right ul {
    margin: auto;
    float: none;
    display: none;
  }

  .mainnav-right ul li {
    display: block;
  }

  .farnav-right {
    padding-top: 20px;
    background: transparent;
    display: none;
    float: none;
    margin: auto;
  }

  .menuLines {
    display: inline-block;
    width: 25px;
    height: 100%;
  }

  /***************************************
  FOOTER (MEDIA QUERY)
  ***************************************/

  .main-footer {
    height: 140px;
    text-align: center;
  }

  .copyright-footer {
    text-align: center;
    width: 100%;
    padding-left: 0;
    margin: auto;
    clear: both;
  }

  .social-media-footer-container {
    width: 100%;
    padding: 5px 0;
    margin: 0px auto;
  }

  .social-media-icon {
    display: inline;
  }

  .social-media-footer-container a img {
    float: none;
  }

  .footer-wrapper {
    float: none;
    margin: auto;
  }
}


@media (max-width: 550px) {

  /***************************************
  HEADER
  ***************************************/
  .title h1 {
    font-size: 3rem;
  }

  .title h2 {
    font-size: 1.2rem;
  }

}

@media (max-width: 480px) {
  /***************************************
  HEADER
  ***************************************/
  .title h1 {
    font-size: 2.5rem;
  }

  /***************************************
  CONTACT FORM
  ***************************************/

  input,
  textarea {
    width: 250px;
  }


}
