/***************************************
HEADER - PHOTOGRAPHY PAGE
***************************************/

.photography-header {
  background: url("../img/pictures-header.jpg") no-repeat center;
  background-size: cover;
  height: 575px;
}


/***************************************
INTRODUCTION - PHOTOGRAPHY PAGE
***************************************/

.photoIntroduction p {
  width: 60%;
  margin: auto;
}

/***************************************
PHOTO GALLERY - PHOTOGRAPHY PAGE
***************************************/

.photoWrapper {
  width: 80%;
  margin: auto;
  background: #000;
}

.column1,
.column2,
.column3 {
  background: #fff;
  width: 30%;
  float: left;
  margin: 1.65%;
}

.photoWrapper img {
  width: 100%;
  margin: 10px 0;
}

.photoStorage {
  display: none;
}

/***************************************
FOOTER - PHOTOGRAPHY PAGE
***************************************/

.main-footer, .push {
  clear: both;
}
/***************************************
PALETTE

-2B4E72 - Water Ends
-2790B0 - Water Begins
-94BA65 - Grass Always Regrows
-353432 - Losing Hope
-4E4D4A - Dark Days

***************************************/
