/***************************************
HEADER - PHOTOGRAPHY PAGE
***************************************/

.photography-header {
  background: url("../img/pictures-header.jpg") no-repeat center;
  background-size: cover;
  height: 575px;
}


/***************************************
INTRODUCTION - PHOTOGRAPHY PAGE
***************************************/

.photoIntroduction {
  height: 280px;
  padding-top: 20px;
  width: 90%;
  margin: auto;
  border-bottom: 2px solid #4c4c4c;
}

.photoIntroduction h3 {
  margin: 0;
  color: #4c4c4c;
}

.photoIntroduction p {
  width: 70%;
  max-width: 750px;
  margin: 25px auto 25px auto;
  font-size: 1rem;
}

.arrowDown p {
  color: #6fcdaf;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 10px auto 20px auto;
}

.arrowDown img {
  width: 30px;
}

/***************************************
PHOTO GALLERY - PHOTOGRAPHY PAGE
***************************************/

.photoWrapper {
  width: 80%;
  margin: 60px auto;
  background: #000;
}

.column1,
.column2,
.column3 {
  background: #fff;
  width: 30%;
  float: left;
  margin: 1.65%;
  height: 100%;
}

.photoWrapper img {
  width: 100%;
  margin: 10px 0;
}

.photoStorage {
  display: none;
}

/***************************************
FOOTER - PHOTOGRAPHY PAGE
***************************************/

.main-footer, .push {
  clear: both;
}
